body {
    background:#FFFAFA;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:15px;
    margin:15px;
    background:#228B22;
}

.assignment img {
    width: 250px;
    margin: 15px;
    border:3px solid white;
}

h1 {
    color:black;
    text-align:center;
}

a {
    text-decoration: none;
    color:black;
}